body{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}


/* ...................Header..................... */
.Header{
  text-align: right;
  height: 50px;
}

.Header li a {
	float: left;
	color: red;
	font-size: 20px;
	padding: 3px;
	border: solid red;
	margin-top: -5px;
}

.Header{
	background-color: black;
	text-align: right;
	padding: 15px;
}
.Header b{
	color: red;
}

.uname{
	padding-right: 10px;
}

.psw{
	padding: 0 10px 0 40px;
}




/* .............Footer............... */
.Footer {
  position: absolute;
  bottom: 0;
	width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}


