@import '~bulma/bulma.sass';

/* #=id .=class */


/* ...................Header..................... */

.Header{
  text-align: right;
  height: 60px;
  color: #fff;
  background-color: black;
  text-align: right;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.Header li a {
	float: left;
	font-size: 20px;
	padding: 3px;
	margin-top: -5px;
}

.Header b{
	color: white;
}

.uname{
	padding-right: 1em;
}

.psw{
	padding-right: 1em;
}

#header-logout-content {
	display: flex;
}

/*................Create acc/Login...................*/
.LoginForm{
	margin: auto;
  	width: 50%;
	padding-top: 12em;
	text-align: center;
}
.Create {
	margin-bottom: 5em;
}

.NewUser{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	margin-bottom: 2em;
	grid-row-gap: 1em;
}

.NewUser label{
	text-align: right;
	padding-right: 1em;
}

.OldUser{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	margin-bottom: 2em;
	grid-row-gap: 1em;
}

.OldUser label{
	text-align: right;
	padding-right: 1em;
}

.username{
	width: 15em;
	margin-right: 1em;
}

.password{
	width: 15em;
}


#ShowError{
	color: red;
}


.NoAccBtn{
	padding: 3em;
	margin-top: 3em;
	color: black;
}

/*................Filter...................*/
.Sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
}
  

.Sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
}

  

.Sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
}


/*..............Container............*/

.FoodConainer{
	width: 960px;
	background-color: #fff;
	margin: 50px auto;	 
	margin-top: 25px;
	text-align: center;
}


.FoodContent{
	float: right;
	display: inline-grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 2em;
	margin-bottom: 2em;
	grid-row-gap: 1em;
	padding: 1em;

}

.FoodContent li {
	float: right;
	width: 375px;
	display: block;
}

/* .............Footer............... */
.Footer {
	position: relative;
	height: 30px;
	background-color: black;
	color: white;
	text-align: center;
	clear: both;
}


/*................Mobile first...................*/
/* On screens that are less than 800px wide, make the sidebar into a topbar */
@media screen and (max-width: 800px) {
	.Sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.Sidebar a {float: left;}
	div.content {margin-left: 0;}

	.FoodContent li {
		width: 150px;
		display: block;
		margin-left: 1em;
	}

	.Header{
		text-align: right;
		height: 7em;
	}

	.username{
		width: 15em;
		margin-right: 54px;
	}

	.psw{
		margin-left: 0;
	}
  }

  @media screen and (max-width: 700px) {
	.Sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}
	
	.Sidebar a {float: left;}
	div.content {margin-left: 0;}

	.FoodContent li {
		width: 175px;
		display: block;
	}

	.Header{
		text-align: right;
		height: 7em;
	}

	.username{
		width: 15em;
		margin-right: 54px;
	}

	.psw{
		margin-left: 200px;
	}
  }
  
  /* On screens that are less than 500px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 500px) {
	.Sidebar a {
		text-align: center;
		float: none;
	}

	.Sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.Sidebar a {float: left;}
	  div.content {margin-left: 0;}

	.FoodContent{
		grid-template-columns: auto auto;
		margin-left: 1em;
		margin-right: 1em;
	}
  
	.FoodContent li {
		width: 150px;
		display: block;
	}

	.Header{
		text-align: right;
		height: 7em;
	}
  
	.username{
		width: 10em;
		margin-right: 10em;
	}
	
	.password{
		width: 10em;
		margin-right: 80px;
	}

	.psw{
		margin-left: -20px;  
	}

	.uname{
		padding-right: 1em;
	}

	.MapBtn{
		margin-top: 1em;
	}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
	.Sidebar a {
		text-align: center;
		float: none;
	}

	.Sidebar {
		width: 100%;
		height: auto;
		position: relative;
	}

	.Sidebar a {float: left;}
	  div.content {margin-left: 0;}

	.FoodContent{
		grid-template-columns: auto auto;
	}
  
	.FoodContent li {
		margin-left: -1em;
		width: 150px;
		display: block;
	}
	.Header{
		text-align: right;
		height: 7em;
	}
  
	.username{
		width: 10em;
		margin-right: 5em;
	}
	
	.password{
		width: 10em;
		margin-right: 5em;
	}

	.psw{
		margin-left: 30px;  
	}

	.uname{
		padding-right: 1em;
		margin-left: -1em;
	}

	.loginbtn{
		float: left;
		margin-left: 129px;
		margin-top: 1em;
	}

	.MapBtn{
		float: left;
		margin-left: 2.5em;
		margin-top: 1em;
	}
  }